name: Package and Deploy Home-Web-APP as Docker Image

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  cd:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write  
    env:
      GITHUB_TOKEN: ${{ secrets.GHA_RELEASE_TOKEN }}
    steps:  
      - name: Checkout
        uses: actions/checkout@v4   
        
      - name: Create a Release
        uses: elgohr/Github-Release-Action@v5
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          title: "New Release"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            aaronbae2048/home-web-app  
          tags: |
            type=ref,event=tag
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}